language: R
sudo: false
cache: packages
warnings_are_errors: false
branches:
  only:
    - master
    - dev
    - doc
latex: false

r_packages:
  - knitr
  - pkgdown
  - covr
addons:
  apt:
    packages:
    - libmagick++-dev

notifications:
  email:
    recipients:
    - andrew@exegetic.biz
    on_success: change
    on_failure: change

jobs:
  include:
  - stage: test
    after_success:
      - Rscript -e 'library(covr); codecov()'
      - Rscript -e 'knitr::knit("README.Rmd")'

# before_cache: Rscript -e 'remotes::install_cran("pkgdown")'
# deploy:
#  provider: pages
#  on:
#    branch: blog
#  local_dir: public
#  target_branch: gh-pages
# deploy:
#  provider: script
#  github_token: "GITHUB_TOKEN"
#  script: Rscript -e 'knitr::knit("README.Rmd"); pkgdown::deploy_site_github()'
#  skip_cleanup: true
#  on:
#    branch: doc

env:
  global:
  - secure: ZvKMoUMSiHalp89iosvGRCzWbHAGrDq/O+v5NggVfzoux2rjXtdIZUbwC+U7SLJ3KGtExIlCVvcuMGo4UHJT3lu0EAsWsJnNQ4CKZVzDOrRybdwn3LJn1/8w4Bn5j3a0ks8T/vNRwrWniK+/C4AvXxmyDS9+EVTUk8EBFX4e3VK/nAEZ3045dByBKlx2e3oVDG/jzEY54JXOY5zLShIJgql+b3OjuVtVehO++YzVwGZ4ZEWouZK0eQ6PWLwapmEHwTBGsvpLFRb2rvtk2YWG93yT/8xbgv0+zUFgIW3N43LtvBz3X4jWJXl0haQRIYtQ1v4L8S1GoQPiy86TZIDIdD81NCjK0iY+p50FaYOQehfAIxZwG5clZaXhXAKNp+2bm3mh1wOIFM58uwE6uPJXCp0u/l8mpWD/grj/gX+922TFmeuPVw3/kGWonXfsXO9kDfjlXmvbyjqFaWURzfykNu4n2zRAv5DW/w/mv19aGBMMEvKxkRd2gHlgDoNzQJzG4xO+5Fjdkzel918sqa00/TlX3x0UPgXrHfZZBs6PT3UsQylK0S69mHBol/10Zexd9TTKXrqhYFoIhMiTrz0E+B2XOA2D001FcJWdiAhIXMMJxM4n5GMPmoXCRqSeuY6tFtWY5CUSwkW4UPVlOl6aKnXVnVOny61tgjupOHj3qo0=
  - secure: Vx0M0p8+X4LdFkU5BAo69L8c+xJsBHhoS9lW1rhjrYGriaBa3Sy4y/Tx5QWCGlgDv/MZlISPpmQM/bZ93cc5H0JOFcjKOgCNZ2VO6w3M88R7iTCJ4E9CGCcTZycbXRtgnkTuBZ+Kv9fnnetbbSPcHyOyO5f9B2uBtoF6Y+VDMk8jdm+/3u99POyFN7HunHVckuOYeaR56WMarolrFmin6jADRiVQ5O1/TKXRfyyskM5qrLvoTrFjonf4dBjJBwFnkceRx4P+YlrG2zrANEQ6D1OGRdrY/ZIsA/K1Zlo5S8Oj87d4gXkhM/Duh1ETvBINC5n3rYzAPaz31A842bxpQfUWO+hLpavHWZfzwgFY91UFp5VUZWJSeMStYM2tb0ifXIok2Rh7AGQDmWPy6IZAUICjamcUkXlU++tPqS6R3vcRKG4pVl/L2JcJT0bKvHp3FBs+1AC1NmVoJBuHaMNCu6JH44b0yrMJeQ6VmP/9mg61EN0GBJCVdsDmq1NV8T2netjJEf8pCWxDBKUJRY1ogMb2R/HeTdRMrIL+30Zrl/oYzCBzzK9vI8CK80joSD/W/QWSMrFmKwYqPzKITEBcrs3QeDMb04a33gHFRuPY5RQ7NpddjMZMCj+oSsVCdEq+gsBgaOydkP32idFLS/Aa92GPB23ILhRP+7n+79QJkVM=
  - secure: g76+88Jx5KgJFh49ea6a7SUE7eJJN7Xz7x/MmVgL9spblzzOimBwk4tHX/a57zy7At7BBbysWsD0d/1pGZDWjeqeNtVXmUEtnR6HohHyAv8DgEhKX/6KypEaWUakj5QQ0AIhAS8tNlcIRRKEWiFX4/5jjEflOG7Oskw9SvEkTDgZad/n2NXvrbOpMGB6NNFAtlWfhnfwMwFglBHuecmysGmjRQ6qqmQa750ds9j7cJqS5jsqMnSVevfGnqEu7mIIdTzeo87oOY0r1umGyhCwsvH0g+hrNMS3GSVaEr7lrtfHnyA2HTX8IwMkXgJQ9iCxYa716jO/+f0ssq4PNyu7OjpRh6PwrXYN73U8zDB0CuafeQ02INhlzrq6YY9CIbACmAIR6KF9nSIzzZ6zngYAYKeHnEwQcdV6jXsCtcw7ZMaNy2yvMY9//rkWWZb9gjWqPi3pwZeVwa9abmAR/rYIl6G8dp7orh/jBE4YPNKvzUvJSyLy+z0vfHPFye372J1aGjMB5ek5JfJ4l1UK46ptguUyD+2S+2SbF3THHIz82138zxlN7IhU54Lt4h9NABZ5OvmRsbZKXqQ5eUizOh94K30VdiVrVXo5cO3B9Nt0m7Kiy0C0gww8CPmN5CJnpHTChHB7vuSCbFHX9V72CeSQbeLzfE9BV4g1HJYy4dbFhgU=
  - secure: I9rO2W5RRBDpfPjvI6wq3O3brPu3pixU2BaBH5xt5ymAFzdeS/CZG5DfEpH+/xomuLit8BqVASwZeo5rfp43YQnMNnw8R9HwiTLENSkMX++h9/uhkdqH/2gZ43KVx610nXaSNTYnv1cc7NeP/u7lrgV08MHARF8qVZxlrn6rFfMShq0sY/KB/nMtyvyiXKB6WOohiGX7btMGpnr2x6S7e89ZQV1EuCpFeP2nbpIf/mwe+u6+4lG+mOmsKCBhVBQO7qibRLSgZReDx8L5paa+vhCt5Ce25Ixc893IKarkXchsxLGK7uxa6j3WHVJM+ZRboOMHlpxhUr8PSP5Vwo/0dHNam3XFVjy5LpC2LVhlAcRM8M0GC1MvuxDNZ65wkTmdifO9mD/arg0AAT0qvTtHIa4W2E/UuvSQklx+XFnvGnbDf77khn8veOd1HFUbPbf+HX/tTENsRn2+QkkFROhtNCC51wn70zAca5t4Yc2OPWVhEuOpcaiNqefKD4+zp+sp2YKXBqrpPfd1557OMVQAupLErg34gsVbLk3KRaF4A77CSnqbt3s+/WaKFtCL5dA6UVqIjGOeHxP8Z3YbSyyy9BCZEXmSi+MGUVaX4udajnnI0SDaAyP6kMVifW0qDtnzwhUq3CgtQw3kL2otm3n9dn6s5gvsO+mu2iDF1mQI6aA=
  - secure: geu1cUDfwlTY2IU7wa/gX18j6YIVVTyjw6ojdpViAciP571Na7QQOlJPSrTSV/QuOKem1Y7DPYiWAZSVr4Aa4Mqf+iV6feNdz06YYOalt+4UyBfEcG9TFjbwe20XXq8vNm2a5bxLclwYIgZ5rPyu9I2dsyyNqyXjNTZZ/5q+iRcZLhJA03/h/vApI1frhKsgosfsvFcL8/eQNsAn7ip43UEJn0zjnGHWXN5xyvtGYZUE+qrHolhxY/kPMHtKHBx5VFgvwsczqQnmso4TLQYb3xdCLm5K9AxGL1iJ48ABt4GCQBQ4cD3t+jNWb6M3EDMmWEtzM+urFS0BC6G8uhedjlsWfBeR+FSkYPdFrEe7Iu6wYmsyL2WFok/NXxSku8IEGbtO8r8HU87xEgFgX+tfROkMvNMOZSb/TfA1Ngb3EPtaFnnIXCRFcIGJrp9NlIyATSHyqG3ugNDshlHsjVFfk8FWLlDRX2SsFiyzz+UklNm1ILFGvjfo+ExVpT4tDN1Y2CdHNVSNgEnPSUWG5yLtG69B7uaCL74P4WEt6ETHeVrWx2PU8Ck5/d4Vvash20/ZLeJ502T5ILTKdnpH/tvN80Oa6UZG0w4Lxe0LNGcCfCw3WEujYdd7lMoCLMblWGVkVidVs4NkdFljyKASRmM4EzXyj2axb+Du0H4Bf7KIdSQ=
  - secure: O/EqPmGfYpr1gPZFk0CB3snUB5CO2ZB4zfVTpW7ThO5JaoZN1cvMLzgXgcIBsU6MpFv6+k2m08aC1n/K0B7/JH8DPPgql7m1Q+CL1KRaG/iMxASzDNRvrIRfitVWQKkkoAGIqhzdbltMNCBElb8oTvlgdAqBYXYcZtvoToGYqqcUBoIF9pRqmsMJp8GniZlvfSfPXXdF5MdtOaEF1bQD8Gk3ort1mcL4tUqdHhqjQVS88imqYpf4P8+C2wfpMoBRQSJbHjWwLFPqO6ZNZDY7qn3SmtAfKPJYsFwf5v6Hv1tsHC3NrELkeH9yEq52UDB5WSFNtA6cIcL2t9CF/87eD3FukrWGaPSPqJgDnuA1dXpgW45ZG24w1F643/dQojgI90T420b3xR8c0u3PaRyQ3CC+bYweGRuSIl6d1KjZ/3hosiGf/j+lhTde1+BA5RuB5DibSFnPPjLbxndnpnNjQI+fP/KgAWxidqY6/AD12elHcz9IUcDln62hbkwwnvRkraOv7V4XDDaELRqcdepvpEBG9JYxxiNs9uxDtxyAqg9bCVUgwmR6um6OErFVYP5MxS+ayol8JKNxgiJEY1YwoLxlP0OGIdAHTGrIwGOFACc6FOu8UKRDGWh9+6d2a+uUFZDvEuRzZuqDbHaRCJxEUuk+xqDOxdCSbYj9u4+Ezpc=
  # GITHUB_TOKEN
  - secure: W7a9VuvGHAx+aoIYXsdOSHjWR/eA8Dr+s+WEoZR1OqqFFjz6ulzXTOfw++GxbJz+PjQ7Mh+8D6w+Mn6u9RKk5u8X41MyVp53HDxhghG9pSGFs6dsPirb+TVNPZwwwooOvrTCyzIhoQOseepGa3xmfiiLx00nxLJdBTyoV0yogEG9S3y0XvEzNuQRhqyQogpcjV1dYkv3jUL218ycXIcIqNs2lpNmeeF5e86tFc2btHePQphJGlCfOpf8szmN2TMMKsh2sWVYsbg5wt0D7VjmuVVd2L2P1kQi1Q7L2KTYf0Cg8H1c6Q89LiNDYuEvU1G1wi7CisU9CkN+RE0pgPUHZ/Aa620q5xpxmHwRD0I1PeLdnahup6ES2jxIEoickcR16YU9oAM5gMVIcWk4kAM8E/Aln4u3xY0l67lRZPvPGO1YoiMa2fC0Z9b1q/zJXQtz2GYQ7n/+NKCbokV9v+vEnFPXR7mmv1NNB5dSzBai0z4D4F+icR7PVXTZzynuAt83Pd0mAJaq2/WylqpuOv8emUun/SnvYiM2lW0/nDnoo+gVpJ5G4BhyHe9UxC7T1LYkwf0aqx31KCfuHODn0EC6fIoC4+kiGBqs1IF0F3sqxweW46wjV5zv1aFg3pi0VmdG2tJXIHsjR/XjZEpD9vTSFpcJjIfcSxwuweU3atjscGU=
